header {
    background-image: url(../assets/pexels-junior-teixeira-2047905.jpg);
    background-size: cover;
    background-position: center;  
    min-height: 100vh;
    width: 100vw;
    
}
h1 {
    text-align: center;
    margin: 0;
}

// NAV

nav{
    color: white;
}

nav ul{
    font-family: $primaryFont;
    display: flex;
    justify-content: center;
}
nav li {
    margin: 10px 40px;
} 



.mobileMenu {
    display: none;
}

.show {
    display: block;
    animation-name: slide_out;
    animation-duration: 2s;
    border-radius: 50%;
    background-color: $tertiary;
}



// social media icons
.contactIcons {
    position: absolute;
    bottom: 1px;
    margin: 15px;
    font-size: 35px;
   
    i{
        margin-top: 10px;
    }

i:hover{
    transform: scale(1.6);
    background-image: linear-gradient(45deg, $quaternary, $primary, $secondary, $tertiary,);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
}
.animate__bounceInDown {
    --animate-duration: 2s;
}