header {
    background-image: url(../assets/pexels-junior-teixeira-2047905.jpg);
    background-size: cover;
    background-position: center;  
    min-height: 100vh;
    width: 100vw;
    
}
h1 {
    text-align: center;
    margin: 0;
}

// NAV***************************************???

nav{
    color: white;

    button{
        border: none;
        background: transparent;
        color: white;
    }

    button:hover{
        box-shadow: none;
        color: $quaternary;
    }

        button:focus {
            box-shadow: none;
            
        }
    
    ul {
        font-family: $primaryFont;
        display: flex;
        justify-content: center;
       
    }
    li {
        margin: 10px 40px;
        
    }
    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        color:$quaternary;
        text-decoration: underline;
    }
   
}




.mobileMenu {
    display: none;
}

.show {
    display: block;
    background-color: rgba(0, 0, 0, .95);
    position: fixed;
    width: 100%;
    z-index: 99;
    height: 100%;
    text-align: center;
}



// social media icons
.contactIcons {
    position: absolute;
    bottom: 1px;
    margin: 15px;
    font-size: 35px;
   
    i{
        margin-top: 10px;
    }

    i:hover{
        transform: scale(1.6);
        background-image: linear-gradient(45deg, $quaternary, $primary, $secondary, $tertiary,);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


.animate__bounceInDown {
    --animate-duration: 2s;
}