

nav {
    ul {
        font-family: $primaryFont;
    }

    li {
        margin: 10px 40px;
    }
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }

    
}

.bar {
    display: block;
    width: 40px;
    height: 5px;
    margin: 8px auto;
    background-color: white;
}


.hamburger {
    margin-left: 10px;
    cursor: pointer;
    position: fixed;
    z-index: 100;


    //with favicon button
    // border: none;
    // color: white;
    // background: transparent;
    // position: fixed;
}


.mobileMenu {
    display: none;
}

.show {
    display: block;
    background-color: rgba(0, 0, 0, .95);
    position: fixed;
    width: 100%;
    z-index: 99;
    height: 100%;
    text-align: center;

}