//Colors:


$primary: #CA0266; 
$secondary: #EE5E59;
$tertiary: #0EEBFB;
$quaternary: #6d439b;
$quinary: #0A0A0A;

//Font
$primaryFont: 'Philosopher', sans-serif;
$secondaryFont: 'Mulish', sans-serif;
 