html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Mulish", sans-serif;
  color: #CA0266;
  font-size: 25px;
  font-size: 1.25rem;
}

h1 {
  color: white;
  font-family: #CA0266;
  font-size: 180px;
  font-size: 9rem;
  text-shadow: -1px -1px 0px #c5518b, 3px 3px 0px black, 6px 6px 0px #CA0266;
}

span {
  text-shadow: none;
  font-size: 40px;
  font-size: 2rem;
  color: #CA0266;
  font-weight: 200;
  text-decoration: underline;
}

h2 {
  font-size: 65px;
  font-size: 3.25rem;
  color: #6d439b;
  text-shadow: 1.5px 1.5px 2px rgba(248, 246, 246, 0.8);
}

h3 {
  font-family: "Philosopher", sans-serif;
  color: #6d439b;
  font-size: 45px;
  font-size: 2.25rem;
}

h4 {
  font-size: 20px;
  font-size: 1rem;
}

p {
  color: white;
}

footer {
  font-size: 18px;
  font-size: 0.9rem;
  background-color: #0A0A0A;
  color: white;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  margin-top: 0;
}

section {
  margin: 50px 0px 50px 0px;
  padding: 50px 0px 50px 0px;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.btn {
  background: -webkit-gradient(linear, left top, right bottom, from(#6d439b), color-stop(#EE5E59), to(#CA0266));
  background: linear-gradient(to bottom right, #6d439b, #EE5E59, #CA0266);
  border-radius: 12px;
  color: #0A0A0A;
  font-weight: bold;
  line-height: 1.5;
  padding: 0 10px;
  text-align: center;
}

.btn:focus {
  color: white;
  -webkit-box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5), -0.2rem -0.2rem 1rem rgba(248, 118, 142, 0.5), 0.2rem 0.2rem 1rem rgba(246, 158, 104, 0.5);
          box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5), -0.2rem -0.2rem 1rem rgba(248, 118, 142, 0.5), 0.2rem 0.2rem 1rem rgba(246, 158, 104, 0.5);
}

.btn:hover {
  color: white;
  -webkit-box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5), -0.2rem -0.2rem 1rem rgba(248, 118, 142, 0.5), 0.2rem 0.2rem 1rem rgba(246, 158, 104, 0.5);
          box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5), -0.2rem -0.2rem 1rem rgba(248, 118, 142, 0.5), 0.2rem 0.2rem 1rem rgba(246, 158, 104, 0.5);
}

a:hover {
  color: #CA0266;
}

header {
  background-image: url(../assets/pexels-junior-teixeira-2047905.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
}

h1 {
  text-align: center;
  margin: 0px;
  padding-right: 90px;
}

.contactIcons {
  position: absolute;
  bottom: 1px;
  margin: 15px;
  font-size: 35px;
  right: 1px;
}
.contactIcons i {
  margin-top: 10px;
}
.contactIcons i:hover {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  background-image: linear-gradient(45deg, #6d439b, #CA0266, #EE5E59, #0EEBFB);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animate__bounceInDown {
  --animate-duration: 2s;
}

nav ul {
  font-family: "Philosopher", sans-serif;
}
nav li {
  margin: 10px 40px;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

.bar {
  display: block;
  width: 40px;
  height: 5px;
  margin: 8px auto;
  background-color: white;
}

.hamburger {
  margin-left: 10px;
  cursor: pointer;
  position: fixed;
  z-index: 100;
}

.mobileMenu {
  display: none;
}

.show {
  display: block;
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 100%;
  text-align: center;
}

.about {
  margin-top: 50px;
  margin-bottom: 50px;
}
.about p::first-letter {
  font-size: 200%;
  font-family: "Philosopher", sans-serif;
  color: #6d439b;
  text-shadow: 1.5px 1.5px 2px rgba(248, 246, 246, 0.8);
}

.profileImg img {
  max-width: 25%;
  display: block;
  border-radius: 50%;
  margin: auto;
  border: 7px double #EE5E59;
}

.aboutIcons {
  margin-top: 50px;
}
.aboutIcons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #EE5E59;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.aboutIcons ul li {
  margin: 5px 0px 5px 0px;
}
.aboutIcons a {
  color: #EE5E59;
  text-decoration: none;
}
.aboutIcons a:hover {
  color: #6d439b;
  opacity: 0.8;
}

.skills {
  background-color: #6d439b;
}
.skills h2 {
  color: black;
}

.devIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 14%;
  margin-right: 14%;
}

.devIcons li {
  color: white;
  text-align: center;
  margin: 20px;
}

.devIcons span {
  color: white;
  font-size: 100px;
  font-size: 5rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.devIcons li:hover {
  color: #0EEBFB;
  opacity: 0.5;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.projects h3 {
  margin: 5px 0px 5px 0px;
}
.projects h4 {
  margin: 0;
}
.projects li {
  margin: 100px 0px;
}
.projects button a {
  text-decoration: none;
  color: black;
}
.projects button a:hover {
  color: white;
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.textContainer {
  padding-right: 10%;
}

.projectImg {
  max-width: 30%;
  position: relative;
}

.projectImg img[src="./assets/mobileBarOne.png"] {
  position: absolute;
  top: 25px;
  right: 100px;
}

.contact {
  margin: 50px 0px 0px 0px;
  padding: 50px 0px 0px 0px;
  background-color: #6d439b;
  text-align: center;
}
.contact h2 {
  color: #0A0A0A;
  margin-bottom: 10px;
}
.contact a {
  padding: 10px 0px 5px 0px;
  color: white;
  text-decoration: none;
  display: inline-block;
}
.contact a:hover {
  color: #0EEBFB;
  opacity: 0.5;
  text-decoration: underline;
}
.contact h3 {
  margin-top: 0;
  margin-bottom: 10%;
  color: white;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 35px;
  font-size: 1.75rem;
}

.formMapContainer {
  position: relative;
}

form {
  position: absolute;
  background-color: #0A0A0A;
  border-radius: 30px;
  max-width: 800px;
  padding: 35px 35px;
  z-index: 1;
  left: 50%;
  margin-left: -400px;
  bottom: 50%;
}

input,
textarea,
select {
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: white;
  opacity: 0.4;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: white;
  opacity: 0.4;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: white;
  opacity: 0.4;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: white;
  opacity: 0.4;
}

input::placeholder,
textarea::placeholder {
  color: white;
  opacity: 0.4;
}

input {
  width: 49%;
}

textarea {
  width: 100%;
}

.map img {
  opacity: 0.5;
}

form {
  text-align: center;
}

.formBtn {
  margin-top: 35px;
}

footer p {
  margin: 0px 10px;
}

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footerIcons a {
  color: white;
  opacity: 0.5;
  margin: 0px 10px;
}
.footerIcons a:hover {
  background-image: linear-gradient(45deg, #CA0266, #EE5E59, #0EEBFB);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}

@media (max-width: 1380px) {
  form {
    bottom: 45%;
    padding: 20px 35px;
  }
  .contact h3 {
    margin-bottom: 10.5%;
  }
}
@media (max-width: 1200px) {
  form {
    bottom: 35%;
  }
  .contact h3 {
    margin-bottom: 11%;
  }
}
@media (max-width: 1030px) {
  form {
    bottom: 25%;
  }
}
@media (max-width: 1015px) {
  h1 {
    padding-right: 0px;
  }
  form {
    bottom: 23%;
  }
}
@media (max-width: 925px) {
  h1 {
    font-size: 140px;
    font-size: 7rem;
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact h3 {
    font-size: 30px;
    font-size: 1.5rem;
  }
  form {
    bottom: 15%;
  }
}
@media (max-width: 895px) {
  .contact h3 {
    margin-bottom: 11.5%;
  }
  form {
    bottom: 13%;
  }
}
@media (max-width: 840px) {
  .map img {
    opacity: 0;
  }
  .contact h3 {
    opacity: 0;
  }
}
@media (max-width: 800px) {
  .map img {
    display: none;
  }
  .contact h3 {
    display: none;
  }
  form {
    position: static;
    margin-left: 0px;
  }
}
@media (max-width: 750px) {
  .projectContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .projectImg {
    max-width: 80%;
    margin-top: 30px;
  }
  .wrapper {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .devIcons {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 100px;
    font-size: 5rem;
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer {
    font-size: 12px;
    font-size: 0.6rem;
  }
  footer p {
    margin: auto;
  }
  footer .footerIcons {
    display: none;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 90px;
    font-size: 4.5rem;
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  span {
    font-size: 20px;
    font-size: 1rem;
  }
  .contactIcons {
    position: static;
  }
  .iconFlexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .devIcons span {
    font-size: 2.8rem;
  }
  .contact h2 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  .contact a {
    font-size: 1rem;
    padding: 30px 0px 15px 0px;
  }
  input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  textarea {
    width: 100%;
  }
}